[submodule "Libraries/NUIKit"]
	path = Libraries/NUIKit
	url = git://github.com/exalted/NUIKit.git
[submodule "Libraries/ODRefreshControl"]
	path = Libraries/ODRefreshControl
	url = git://github.com/Sephiroth87/ODRefreshControl.git
[submodule "Libraries/SVPullToRefresh"]
	path = Libraries/SVPullToRefresh
	url = git://github.com/samvermette/SVPullToRefresh.git
